- content_for :javascript do
  initialize_homepage();

- content_for :coverfade_class do
  = "without-text"

- content_for :extra_javascript do
  - # maps.google can't be loaded twice
  - maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
  - key_param = maps_key ? "&key=#{maps_key}" : ""
  - # Topbar adds its own maps script, otherwise add it if location search enabled or map is visible
  -# needs_maps = !FeatureFlagHelper.feature_enabled?(:topbar_v1) && (main_search != :keyword || @view_type.eql?("map") || @view_type.eql?("list"))
  - needs_maps = true
  - if(needs_maps)
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places#{key_param}"
  - if(@view_type.eql?("map"))
    = javascript_include_tag "markerclusterer.js"

- content_for :title_header do
  - if @big_cover_photo
    %h1.marketplace-lander-content-title= community_description.html_safe
    -#%p= community_slogan.html_safe
    - unless (is_homepage && !@current_community.private? && FeatureFlagHelper.feature_enabled?(:topbar_v1))
      .search-form
        - if @current_community.private?
          %a.inline-big-button{href: sign_up_path}
            .content
              = t("layouts.application.connect")
        - else
          - if(main_search == :location)
            = render partial: "location_bar"
          - else
            = render partial: "search_bar"
  - elsif !(is_homepage && FeatureFlagHelper.feature_enabled?(:topbar_v1))
    .browse-view-search-form
      - if(main_search == :location)
        = render partial: "location_bar"
      - else
        = render partial: "search_bar"

-# content_for(:head) do
  - if seo_pagination_links[:prev].present?
    %link{rel: "prev", href: seo_pagination_links[:prev]}
  - if seo_pagination_links[:next].present?
    %link{rel: "next", href: seo_pagination_links[:next]}

- if @current_community.private? && @big_cover_photo
  - if @community_customization && @community_customization.private_community_homepage_content
    .community-customization-wrapper
      = @community_customization.private_community_homepage_content.html_safe
  - else
    = t(".this_is_private_community")

- else
  .how-it-works
    %h2.text-center How it Works 
    .hometrust
      .row
        .col-4 
          .white-box
            %div.top-icon
              = link_to (image_tag "search-icon.png"), "", alt: "Find", class: "img-responsive"
            %h3 Find
            %p Use the menu system and search bar <br> To find pet products and services
        .col-4 
          .white-box
            %div.top-icon
              = link_to (image_tag "order-icon.png"), "", alt: "Order", class: "img-responsive"
            %h3 Order
            %p Place a secure order for a product or service.<br> For pet services and custom products, your pet <br> care partner will contact you to finalize details.
        .col-4
          .white-box
            %div.top-icon
              = link_to (image_tag "enjoy-icon.png"), "", alt: "Enjoy", class: "img-responsive"
            %h3 Enjoy
            %p Our goal is to improve life for you and your pet. Write a review to share your experience with the community
  / .homeCategory          
  /   %section#portfolio
  /     .wrapper  
  /       .clearfix
  /         .col-lg-12.text-center
  /           %h2.section-head-title Heritage and Homemade Products
  /           %hr.star-primary/
  /         .row.portfolio.align-center
  /           .cust-col-4.col-4
  /             %a.portfolio-link{"data-toggle" => "modal", :href => "/s?category=dog"}
  /               %p Dog
  /               = image_tag "dog.jpg", alt: "Dog", class: "img-responsive width-100"
  /               %a.cmn-btn{:href => "/s?category=dog"} VIEW PRODUCTS
  /           .cust-col-4.col-4
  /             %a.portfolio-link{"data-toggle" => "modal", :href => "/s?category=cat"}
  /               %p Cat
  /               = image_tag "cat.jpg", alt: "Cat", class: "img-responsive width-100"
  /               %a.cmn-btn{:href => "/s?category=cat"} VIEW PRODUCTS
  /           .cust-col-4.col-4
  /             %a.portfolio-link{"data-toggle" => "modal", :href => "/s?category=bird"}
  /               %p Bird
  /               = image_tag "bird.jpg", alt: "Birds", class: "img-responsive width-100"
  /               %a.cmn-btn{:href => "/s?category=bird"} VIEW PRODUCTS
  /           .cust-col-4.col-4
  /             %a.portfolio-link{"data-toggle" => "modal", :href => "/s?category=small-animal"}
  /               %p Small Pet
  /               = image_tag "small-pet.jpg", alt: "Small Animal", class: "img-responsive width-100"
  /               %a.cmn-btn{:href => "/s?category=small-animal"} VIEW PRODUCTS
  /           .cust-col-4.col-4
  /             %a.portfolio-link{"data-toggle" => "modal", :href => "/s?category=reptile"}
  /               %p Reptile
  /               = image_tag "reptlie.jpg", alt: "Reptile", class: "img-responsive width-100"
  /               %a.cmn-btn{:href => "/s?category=reptile"} VIEW PRODUCTS
  /           .cust-col-4.col-4
  /             %a.portfolio-link{"data-toggle" => "modal", :href => "/s?category=fish"}
  /               %p Fish
  /               = image_tag "fish.jpg", alt: "Fish", class: "img-responsive width-100"
  /               %a.cmn-btn{:href => "/s?category=fish"} VIEW PRODUCTS
  
  .hometrust
    .row
      .col-6
        .list-benifits
          %h4 Choice is good
          %p One site for homemade and name brand, private and professional.<br> Compare and choose the item or service that is right for you

          %h4 Pet Care Partners
          %p Find a partner in your neighborhood to provide loving care. <br> Our marketplace includes neighbors and businesses

          %h4 Exotic Pet Services
          %p Need a snake sitter? Fish feeder? Hedgehog hostess?<br> We've got you covered!

          %h4 Homemade Pet Products 
          %p Find the unique product your pet deserves

          %h4 Big Name Brands
          %p From Aqueon – Zukes, we carry the top brands your pet will love.

      .col-6
        .border-box
          %h4 
            %span Petstore.com is Trustworthy
           
          %ul 
            %li 20+ years experience in online retail
            %li Bizrate Circle of Excellence award winning customer support
            %li Top 500 E-commere company
            %li Secure, encrypted transactions via Stripe
          %a.orange-btn Become part of the community  

  %div.middel-img
    = image_tag "home-middle-banner.jpg", alt: "home-middle-banner", class: "img-responsive width-100"

  .hometrust
    .wrapper
      .clearfix
        .col-4
          = image_tag "trust-worthy.jpg", alt: "Girl with dog", class: "img-responsive width-100"
        .col-7
          %h2.section-head-title Trustworthy Support
          %p.bodycopy We are here to support you and your pet. We have been providing pet care products online for over twenty years. Our award winning support team is here to help you with your pet care needs.
          %a.cmn-btn{:href => "/en/user_feedbacks/new"} Contact Support
