.col-12
  .col-6
    = form.label :Subscription_recurrence
    = render :partial => "listings/form/recurring_type", :collection => Listing::RECURRING_TYPES, :as => :recurring_type
  .col-6
    = form.label :discount
  %br
    = form.number_field :weekly_discount, :class => "price-field", disabled: true, in: 0..100
    .price-currency
      %b= "%"
  %br
    = form.number_field :bi_weekly_discount, :class => "price-field", disabled: true, in: 0..100
    .price-currency
      %b= "%"
  %br
    = form.number_field :monthly_discount, :class => "price-field", disabled: true, in: 0..100
    .price-currency
      %b= "%"
  %br
    = form.number_field :quarterly_discount, :class => "price-field", disabled: true, in: 0..100
    .price-currency
      %b= "%"
  %br

- content_for :discount_js do
  :javascript
    $('.delivery-method-checkbox').click(function() {
    if (document.getElementById('weekly').checked) {
      $('#listing_weekly_discount').prop("disabled", false);
      }else{
       $('#listing_weekly_discount').prop("disabled", true);
       $('#listing_weekly_discount').val('');
      }
    if (document.getElementById('bi-weekly').checked) {
      $('#listing_bi_weekly_discount').prop("disabled", false);
      }else{
       $('#listing_bi_weekly_discount').prop("disabled", true);
       $('#listing_bi_weekly_discount').val('');
      }
    if (document.getElementById('monthly').checked) {
      $('#listing_monthly_discount').prop("disabled", false);
      }else{
       $('#listing_monthly_discount').prop("disabled", true);
       $('#listing_monthly_discount').val('');
      }
    if (document.getElementById('quarterly').checked) {
      $('#listing_quarterly_discount').prop("disabled", false);
      }else{
       $('#listing_quarterly_discount').prop("disabled", true);
       $('#listing_quarterly_discount').val('');
      }
    });
- if run_js_immediately
  = yield :discount_js
- else
  - content_for :extra_javascript do
    = yield :discount_js