<!DOCTYPE html>
<html>
<head>
	<title>Petstore</title>
	<%= stylesheet_link_tag "landing_page_new/base" %>
	<%= javascript_include_tag "landing_page_new/base" %>
	<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport"/>
	    <meta content="website" property="og:type"/>
	<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>
	 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
	 <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>


<%= yield %>


</body>
</html>